/* particulas */
.particle-effect {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    font-size: 1.5rem;
    
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    
    animation: floatAndFade 1s ease-out forwards;
}

@keyframes floatAndFade {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(var(--random-x), -100px);
        opacity: 0;
    }
}