doctype html
html(lang="es")
    head
        //- Metadatos y estilos globales
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        
        link(rel="stylesheet", href="/css/style.css")

        //- Fuentes
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet")

        //- Librerías de FullCalendar
        script(src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js')
        
        //- Script principal del cliente
        script(type="module", src="/js/calendar.js")

    body
        block content