extends components/layout

block content
    main#calendario-wrapper
        div#calendario


    //- Footer (foto y enlace GitHub)
    footer#site-footer.footer
        .footer__inner
            img.footer__avatar(src="https://avatars.githubusercontent.com/u/125316695?v=4", alt="Avatar")
            a.footer__github(href="https://github.com/SugusGamberra", target="_blank", rel="noopener noreferrer") GitHub